<template>
  <div class="view-wrapper">
    <Sidebar />

    <div class="content-wrapper">
      <div class="video-wrapper">
        <VideoPlayer
          v-if="selectedVideo"
          :key="selectedVideo.id"
          :url="selectedVideo.url"
        />
      </div>

      <Thumbnails v-if="currentObjective" />

      <div class="right-panel" v-if="currentObjective">
        <SimpleModal btnText="Show Activities">
          <template v-slot:header>Activities</template>
          <template v-slot:body>{{
            selectedObjective.activities.join(' ')
          }}</template>
        </SimpleModal>
        <SimpleModal btnText="Show Classflow">
          <template v-slot:header>Classflow</template>
          <template v-slot:body>{{ selectedObjective.classFlow }}</template>
        </SimpleModal>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapGetters } from 'vuex'
import VideoPlayer from '@/components/VideoPlayer.vue'
import Sidebar from '@/components/Sidebar.vue'
import Thumbnails from '@/components/Thumbnails.vue'
import SimpleModal from '@/components/SimpleModal.vue'

export default {
  name: 'Dashboard',
  components: {
    Sidebar,
    Thumbnails,
    VideoPlayer,
    SimpleModal
  },
  computed: {
    ...mapState({ currentObjective: 'currentObjective' }),
    ...mapGetters(['selectedVideo', 'selectedObjective'])
  },
  methods: {}
}
</script>

<style scoped>
.view-wrapper {
  height: calc(100% - 90px);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.content-wrapper {
  float: right;
  width: 80%;
  height: 100%;
  background: #dff4ce;
  position: relative;
}
.video-wrapper {
  width: 100%;
  margin-bottom: 10px;
}
.right-panel {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(170, 163, 163, 0.5);
}
.right-panel #show-modal {
  background: black;
  color: white;
}
</style>
