<template>
  <div class="lesson-wrapper">
    <span>Lessons</span>
    <ul>
      <li
        v-for="(lesson, index) in lessonDetails"
        :key="index"
        :class="{
          selected: lesson.id === currentLesson,
          completed: checkLessonCompleted(lesson)
        }"
        @click="() => setLesson(lesson.id)"
      >
        {{ index + 1 }}
      </li>
    </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  computed: { ...mapState(['lessonDetails', 'currentLesson']) },
  methods: {
    setLesson(id) {
      this.$store.commit('SAVE_LESSON_SELECTION', id)
      this.$router.push({ name: 'Lesson', params: { lessonId: id } })
    },
    checkLessonCompleted(lesson) {
      return lesson.objectiveDetails.every(obj => obj.status === 'DONE')
    }
  }
}
</script>

<style scoped>
.lesson-wrapper {
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  font-weight: bolder;
}

ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 18px;
}

li {
  background-color: orange;
  color: #000;
  border-radius: 50%;
  /* height: 30px;
  width: 30px; */
  padding: 2px 9px;
  margin: 0 7px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
li:hover {
  transform: scale(1.4);
}
.selected {
  background-color: white !important;
  border: 1px solid #96d602 !important;
}
.completed {
  background: #96d602;
}
</style>
