<template>
  <div class="navbar-flex">
    <div>
      <img src="@/assets/userIcon.png" height="75px" width="75px" />
    </div>

    <div>
      <div class="recital-title">
        {{ recitalTitle }}
      </div>
      <LessonSelector />
    </div>

    <div>
      <div class="instrument">{{ instrumentTitle }}</div>
      <button class="btn-exit" @click="exitSession">Exit Session</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import LessonSelector from '@/components/LessonSelector.vue'

export default {
  components: {
    LessonSelector
  },
  computed: {
    ...mapState({
      recitalTitle: 'recitalTitle',
      instrumentTitle: 'instrumentTitle'
    })
  },
  methods: {
    exitSession() {
      this.$store.commit('RESET_PROGRESS')
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.recital-title {
  font-size: 26px;
  color: #ba0d5c;
  font-weight: bolder;
  margin: 0 0 10px 0;
}
.instrument {
  color: #ba0d5c;
  margin: 5px 0 15px 0;
  font-weight: bolder;
}
.btn-exit {
  padding: 7px 10px;
  background: #c82828;
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
</style>
