<template>
  <div class="objectives-wrapper">
    <div
      v-for="(objective, objIndex) in selectedLesson.objectiveDetails"
      :key="`${objective.id}-${objective.status}`"
      class="objective-card"
      :class="{
        DONE: objective.status === 'DONE',
        NOT_DOING: objective.status === 'NOT_DOING',
        NEXT_CLASS: objective.status === 'NEXT_CLASS',
        selected: objective.id === currentObjective
      }"
      @click="() => setObjective(objective.id)"
    >
      <div>
        {{ objective.title }}
        <span class="duration">({{ objective.durationInMinutes }} Mins)</span>
      </div>

      <div class="btn-group">
        <div
          class="icon-wrapper"
          style="background: #96d602;"
          @click="() => setStatus(objIndex, 'DONE')"
        >
          <img
            src="../assets/check-solid.svg"
            :width="iconSize"
            :height="iconSize"
          />
          <!-- <svg class="icon" :width="iconSize" :height="iconSize">
            <use v-bind="{ 'xlink:href': '/feather-sprite.svg#Icon' }" />
          </svg> -->
        </div>

        <div
          class="icon-wrapper"
          style="background: #c82828;"
          @click="() => setStatus(objIndex, 'NOT_DOING')"
        >
          <img
            src="../assets/times-solid.svg"
            :width="iconSize"
            :height="iconSize"
          />
        </div>
        <div
          class="icon-wrapper"
          style="background: indigo;"
          @click="() => setStatus(objIndex, 'NEXT_CLASS')"
        >
          <img
            src="../assets/globe-asia-solid.svg"
            :width="iconSize"
            :height="iconSize"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'ObjectiveCards',
  props: {},
  data() {
    return {
      iconSize: 20
    }
  },
  computed: {
    ...mapState({
      currentLesson: 'currentLesson',
      currentObjective: 'currentObjective',
      currentVideo: 'currentVideo'
    }),
    ...mapGetters(['selectedLesson', 'selectedObjective'])
  },
  methods: {
    setObjective(id) {
      this.$store.commit('SAVE_OBJECTIVE_SELECTION', id)
      this.$router.push({
        name: 'Objective',
        params: { lessonId: this.currentLesson, objectiveId: id }
      })
      this.$store.dispatch('loadThumbnails')
    },
    setStatus(index, status) {
      this.$store.commit('SET_OBJECTIVE_STATUS', {
        index,
        objective: {
          ...this.selectedLesson.objectiveDetails[index],
          status
        }
      })
    }
  }
}
</script>

<style scoped>
.objective-card {
  background: white;
  padding: 5px 5px 20px 5px;
  margin: 7px 7px 20px 7px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.selected {
  border: 2px solid orange;
}
.DONE {
  border: 2px solid #96d602;
}
.NOT_DOING {
  border: 2px solid #c82828;
}
.NEXT_CLASS {
  border: 2px solid indigo;
}
.objective-card .duration {
  font-size: 12px;
}
.objective-card .btn-group {
  position: absolute;
  bottom: -10px;
  display: flex;
  width: calc(100% - 10px);
  justify-content: space-between;
}
.icon-wrapper {
  border-radius: 50%;
  background: #96d602;
  padding: 3px 3px 3px 3px;
  line-height: 0.5;
  cursor: pointer;
  margin: 0 5px;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-weight: 600;
}
.icon {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
  /* fill: none; */
  /* margin-right: 6px; */
}
.icon-wrapper:hover {
  transform: scale(1.5);
}
.objectives-wrapper {
  overflow: scroll;
  height: calc(100% - 50px);
}
</style>
