<template>
  <div class="sidebar-menu">
    <div class="menu-heading">Menu</div>
    <hr />
    <a
      v-for="(lessonVideo,
      lessonVideoIndex) in selectedLesson.lessonVideosDetails"
      :key="lessonVideo.id"
      class="video-link"
      href="javascript:void(0);"
      @click="() => setVideo(lessonVideo.url)"
      target="_blank"
      >Video Link {{ lessonVideoIndex + 1 }}</a
    >

    <ObjectiveCards />
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapGetters } from 'vuex'
import ObjectiveCards from '@/components/ObjectiveCards.vue'

export default {
  name: 'Sidebar',
  components: {
    ObjectiveCards
  },
  computed: {
    ...mapState({
      currentLesson: 'currentLesson',
      currentObjective: 'currentObjective',
      currentVideo: 'currentVideo'
    }),
    ...mapGetters(['selectedLesson', 'selectedObjective', 'selectedVideo'])
  },
  methods: {
    setVideo(id) {
      this.$store.commit('SAVE_VIDEO_SELECTION', id)
      this.$router.push({
        name: 'Video',
        params: {
          lessonId: this.currentLesson,
          objectiveId: this.currentObjective,
          videoId: id
        }
      })
    }
  }
}
</script>

<style scoped>
.sidebar-menu {
  float: left;
  width: 20%;
  background: #ffd05b;
  height: 100%;
}
.menu-heading {
  font-weight: bolder;
  padding: 5px 0 0 0;
}
hr {
  border: 1px solid black;
  margin: 5px 0;
}
.video-link {
  margin: 5px 0 10px 0;
  color: black;
  font-size: 12px;
  display: block;
}
</style>
