<template>
  <div class="thumbnails-wrapper">
    <div
      v-for="videoObj in selectedObjective.objectiveVideosDetails"
      :key="videoObj.id"
      class="thumbnail"
      :class="{ selected: videoObj.id === currentVideo }"
      @click="() => setVideo(videoObj.id)"
    >
      <img :src="getThumbnailUrl(videoObj.id)" height="90px" width="160px" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Thumbnails',
  components: {},
  computed: {
    ...mapState({
      currentLesson: 'currentLesson',
      currentObjective: 'currentObjective',
      currentVideo: 'currentVideo'
    }),
    ...mapGetters([
      'selectedLesson',
      'selectedObjective',
      'selectedVideo',
      'getThumbnailUrl'
    ])
  },
  methods: {
    setVideo(id) {
      this.$store.commit('SAVE_VIDEO_SELECTION', id)
      this.$router.push({
        name: 'Video',
        params: {
          lessonId: this.currentLesson,
          objectiveId: this.currentObjective,
          videoId: id
        }
      })
    },
    getThumbnails() {
      this.$store.dispatch('loadThumbnails')
    }
  },
  mounted() {
    if (this.selectedObjective) this.getThumbnails()
  }
}
</script>

<style lang="scss" scoped>
.thumbnails-wrapper {
  overflow: auto;
}
.thumbnail {
  margin: 0 20px 0 10px;
  float: left;
  cursor: pointer;
}
.thumbnails-wrapper .selected {
  border: 2px solid black;
  /* padding: 20px 10px; */
  /* max-width: 100px; */
  /* text-overflow: ellipsis; */
}
</style>
