<template>
  <div class="vimeoPlayer"></div>
</template>

<script>
import Player from '@vimeo/player'

export default {
  name: 'VideoPlayer',
  props: {
    id: {
      type: Number
    },
    url: {
      type: String
    }
  },
  data() {
    return {
      player: null
    }
  },
  methods: {
    install() {
      this.player = new Player(this.$el, {
        url: this.url,
        responsive: true,
        autoplay: true
      }).on('bufferstart', function() {
        console.log('video buffering!')
      })
    }
  },
  mounted() {
    this.install()
  }
}
</script>

<style></style>
