<template>
  <div id="app" class="square-viewport">
    <loading :active.sync="isLoading" :is-full-page="true"></loading>
    <NavBar />
    <router-view v-if="!isLoading" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import NavBar from './components/NavBar'
import Loading from 'vue-loading-overlay'

// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  name: 'VivekBhagwani',
  components: {
    NavBar,
    Loading
  },
  created() {
    this.$store.dispatch('loadRecital')
    // var recital = require('./db.json')
    // this.$store.commit('SAVE_RECITAL', recital)
    const { lessonId, objectiveId, videoId } = this.$route.params
    lessonId &&
      lessonId != this.currentLesson &&
      this.$store.commit('SAVE_LESSON_SELECTION', lessonId)
    objectiveId &&
      objectiveId != this.currentObjective &&
      this.$store.commit('SAVE_OBJECTIVE_SELECTION', objectiveId)
    videoId &&
      Number(videoId) != this.currentVideo &&
      this.$store.commit('SAVE_VIDEO_SELECTION', Number(videoId))
  },
  computed: {
    ...mapState([
      'currentLesson',
      'currentObjective',
      'currentVideo',
      'isLoading'
    ])
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800&display=swap');

$darkpink: #ba0d5c;
$offwhite: #e6e7e8;
$green: #96d602;
$black: #000000;

#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
}

.square-viewport {
  width: 100vh;
  height: 74vh;
  margin: 10vh auto 0 auto;
  padding: 20px;
  background: $offwhite;
}

body {
  background: black;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 20px;
}
</style>
